<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.google.IdentifierScheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>574799417596-q1cui35u0qb6fr9u7f4kftgl91kmhelf.apps.googleusercontent.com</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
